body {
    font-family: "Poppins", sans-serif;
    background: #272044;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4) , rgba(0, 0, 0, 0.4)), url("../images/Lisbon.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 120px 120px;

}

header h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
}
header h2{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.5;

    margin: 0
}
header h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0

}
header a {
   font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: white;
    text-decoration: none;
    color: #272044;
    padding: 16px 32px;
    display: inline-block;
    margin-top: 32px;
}

main{
    background-color: white;
}

main h2{
 font-weight: 700px;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 5px;
 color: #272044;
 opacity: 0.3;
 text-transform: uppercase;
 margin:0;
}

main h3{
   font-weight: 700px; 
   font-size: 40px;
   line-height: 1.5;
   color: #272044;
   margin:0;
}
main p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #272044;
    opacity: 0.7;
}
.image-responsive {
    width: 100%;
    margin:0;
}
section.secondary{
    background-color: #F8F8F8;
}
footer {
    color: white;
    background-image: linear-gradient(rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)), url('../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
footer ul{
    padding:0 
}

footer li{
    list-style: none;
    margin: 20px;
    padding: 0
}
.card{
    background-color:white;
    margin: 30px 0;
}
.card-body {
  padding: 30px;
}

.card-header.grid{
    grid-gap: 0;
}
.embed{
    width: 100%;
    aspect-ratio: 1 /1 ;
}
main h4{
    margin: 0;
}
main h5{
    margin:0;
}
.btn{
    text-decoration: none;
    background-color: #462CB2;
    color: white;
    display:block;
    padding: 10px 40px;
    text-align: center;
}

.grid{
    display:grid;
    margin: 0 20px;
    grid-gap: 64px;
}
.grid-2-columns{
    grid-template-columns: 1fr 1fr;
}
.grid-3-columns{
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-narrow{
    grid-template-columns: 1fr 2fr 2fr;
}
section{
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}
.text-center{
    text-align: center;
}
 .last-text{
    text-align: center;
}

@media (max-width: 960px){
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 48px
    }
    header h2 {
        font-size: 20px;
    }
    header h3{
        font-size: 12px;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    section{
        padding:20px;
    }
    .card-header img{
        display: none;
    }
    .embed{
        aspect-ratio: 16 /9;
    }
    .gallery{
        display: block;
        margin: 0 auto;
    }
}